<form action="/cart" method="POST" class="add-product-form">
    <input type="hidden" name="productId" value="<%= product.id %>">
    <button type="">Add to basket</button>                            
</form>