<form action="/cart" method="POST" class="add-product-form">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <button type="">Add to cart</button>                            
</form>